.GH-main {
    background-color: white;
    margin: 5px 5px 10px 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #202020;
    padding: 10px;
    text-align: start;
    color: #435257;
    font-weight: bold;
    font-size: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.GH-text {
    margin-right: 20px;
}

.GH-update-btn {
    background-color: #a7afb1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}
