.App {
    text-align: center;
    max-width: 70%;
    margin: 20px auto auto;
}

.A-error-msg {
    background-color: #efe17e;
    margin: 5px 5px 10px 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #202020;
    padding: 10px;
    color: #435257;
    font-weight: bold;
}

.A-geo {
    background-color: white;
    margin: 5px 5px 10px 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #202020;
    padding: 10px;
    text-align: start;
    color: #435257;
    font-weight: bold;
    font-size: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.A-geo-text {
    margin-right: 20px;
}

.A-geo-update-btn {
    background-color: #a7afb1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

.A-favorite {
    margin-top: 10px;
}

.A-favorite-header {
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #202020;
    padding: 10px;
    text-align: start;
    color: #435257;
    font-weight: bold;
    font-size: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.A-favorite-header-add {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.A-favorite-header-add-input {
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #a7afb1;
    border: none;
    color: white;
}

.A-favorite-header-add-input::placeholder {
    color: white;
}

.A-favorite-header-add-btn {
    background-color: #a7afb1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.A-favorite-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
